.menu-item{
    margin: 20px;
}

.menu-image{
    width: 30vw;
    border-radius: 20px;
    max-width: 110px;
    min-width: 90px;
}

.food-name{
    font-weight: bold;
    color: maroon;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: underline;
}

.food-description{
    margin-top: 2px;
    font-size: 11px;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.price{
    color: maroon;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.quantity-button{
    margin: 0;
    border-radius: 50%;
    border: none;
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-bottom: 2px;
}

.quantity-button:hover{
    background-color: lightblue;
}

.count{
    font-size: 13px;
}


/* .row{
    border-style: solid;
    border-color: goldenrod;
    border-width: 1px;
} */

/* .col-auto{
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */